.story {
    margin: 5px 15px;
    padding: 30px 15px;
    background-color: #eee;
    border-radius: 20px;
    width: 700px;
}

.react-tabs__tab-list {
    display: flex;
    justify-content: space-between;
}

.react-tabs__tab {
    font-weight: bold !important;
}

.react-tabs__tab--selected {
    border-color: none !important;
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
}

.storyGroups {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.storyGroups .storyGroup {
    border-radius: 20px;
    flex: 0 0 auto;
    margin: 15px 0;
    width: 150px;
    height: 250px;
    background-color: #fff;
    margin-right: 30px;
}

/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.storyGroups .storyGroup .storyCard .hidden{
  display: none;
}

.storyGroups .storyGroup .storyCard{
    height: 100%;
}

.storyGroups .storyGroup .storyCard label{
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.storyGroups .storyGroup .storyCard label .storyBody{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyGroups .storyGroup .storyCard label .storyBody img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: red;
}

.storyGroups .storyGroup .storyCard label .storyFooter{
    flex: 1;
    display: flex;
 flex-direction: column;
    align-items: center;
    position: relative;
 
}

.storyGroups .storyGroup .storyCard label .storyFooter svg{
    position: absolute;
    top: -20px;
    font-size: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
}

.storyGroups .storyGroup .storyCard label .storyFooter h4{
margin-top: 30px;
}

.storyGroups .storyGroup .storyDiv{
    position: relative;
    cursor: pointer;
}

.storyGroups .storyGroup .storyDiv .storyUser img{
    height : 250px;
    width : 100%;
    object-fit: cover;
border-radius: 20px;
}

.storyUserTitle{
    position: absolute;
    bottom: 38px;
    left: 5px;
    color: #eee;
}

.storyGroups .storyGroup .storyDiv .storyUserAddImgDiv{
    position: absolute;
    top: 10px;
    left: 5px;
}
.storyUserAddImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
