.story {
	background-color: #eee;
	margin: 5px 15px;
	padding: 30px 15px;
	border-radius: 20px;
	width: 700px;
}

.react-tabs__tab-list {
	display: flex !important;
	justify-content: space-between !important;
}

.react-tabs__tab {
	font-weight: bold !important;
}

.react-tabs__tab--selected {
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #fff !important;
	color: #fff !important;
}

/* number 2 */
.storyGroups {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.storyGroups .storyGroup {
	border-radius: 20px;
	margin: 15px 0;
	flex: 0 0 auto;
	width: 150px;
	height: 250px;
	background-color: #fff;
	margin-right: 30px;
	cursor: pointer;
}

/* Width */
.storyGroups::-webkit-scrollbar {
	height: 6px;
}

/* track  aka background */
.storyGroups::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
.storyGroups::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on Hover */
.storyGroups::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

.storyGroups .storyGroup .storyCard {
	height: 100%;
}

.storyGroups .storyGroup .storyCard .hidden {
	display: none;
}

.storyGroups .storyGroup .storyCard label {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.storyGroups .storyGroup .storyCard label .storyBody {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.storyGroups .storyGroup .storyCard label .storyBody .storyBodyImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.storyGroups .storyGroup .storyCard label .storyFooter {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.storyGroups .storyGroup .storyCard label .storyFooter svg {
	position: absolute;
	top: -20px;
	font-size: 30px;
	background-color: #fff;
	padding: 5px;
	border-radius: 50%;
}

.storyGroups .storyGroup .storyCard label .storyFooter .storyTitle {
	margin-top: 15px;
}

.storyGroups .storyGroup .storyDiv {
	position: relative;
	cursor: pointer;
}

.storyGroups .storyGroup .storyDiv .storyUser .storyUserImage {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 20px;
	transition: all 0.5s;
}

.storyGroups .storyGroup .storyDiv .storyUser .storyUserImage:hover {
	width: 100%;
	height: 260px;
	overflow: hidden;
	object-fit: cover;
}

.storyGroups .storyGroup .storyDiv .storyUserAddImgDiv .storyUserAddImg {
	position: absolute;
	left: 5px;
	top: 15px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #eee;
}

.storyGroups .storyGroup .storyDiv .storyUserTitle {
	position: absolute;
	bottom: 50px;
	left: 10px;
	color: #fff;
}
