.top {
    display: flex;
    justify-content: space-between;
}

.topLeft,
.topMiddle,
.topRight {
    display: flex;
    align-items: center;
}

.topLeft,
.logo {
    font-style: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.topLeft,
.topSearch {
    position: relative;
    margin-left: 10px;
}

.topLeft .topSearch input {
    border: none;
    outline: none;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    height: 30px;
    color: #000;
    padding: 0px 10px;
}

.topLeft .topSearch svg {
    position: absolute;
    right: 10px;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
}

.topMiddle .topLinks ul{
    display: flex;
}

.topMiddle .topLinks ul li{
    margin: 0 10px;
}

.topMiddle .topLinks ul li a{
    text-transform: uppercase;
}
.topMiddle .topLinks ul li .active{
text-decoration: underline;
}