.rightBarFriendsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.rightBarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.rightBarProfImgCont {
    margin-right: 10px;
    position: relative;
}

.rightBarProfImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.rightBarOnline {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #09f515;
    border-radius: 50%;
    bottom: 2px;
    right: 0;
    border: 2px solid #fff;
}


.rightBarProfImgName{
    font-weight: 500;
    }