.sideBar {
	flex: 3;
}

.sideBar .sideBarGroups .sideBarGroup {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.sideBar .sideBarGroups .sideBarGroup:first-child {
	margin-bottom: 30px;
}
.sideBar .sideBarGroups .sideBarGroup:last-child {
	margin-top: 30px;
}

.sideBar .sideBarGroups .sideBarGroup:hover {
	background-color: #fff;
}

.sideBar .sideBarGroups .sideBarGroup .sideBarLink {
	display: flex;
	align-items: center;
}
.sideBar .sideBarGroups .sideBarGroup .currentUserImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.sideBar .sideBarGroups .sideBarGroup svg {
	font-size: 20px;
	margin-right: 10px;
	color: #2e2e2e;
}

.sideBar .sideBarGroups .sideBarGroup button {
	display: block;
	margin: 0 auto;
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	transition: all 0.5s;
	text-transform: uppercase;
}
