.acountDiv {
	position: relative;
	width: 1000px;
	display: block;
	margin: 0 auto;
}

.accountCover {
	position: absolute;
	top: -60px;
	width: 100%;
	height: 400px;
	border-radius: 20px;
}

.accountCover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

/* step 2 */
.accountInfo {
	position: relative;
}

.accountInfoLeft img {
	position: absolute;
	top: 285px;
	left: 45px;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	object-fit: cover;
}

/* step 3 */
.accountInfoRight {
	position: absolute;
	top: 350px;
	left: 240px;
}

.userName {
	margin-bottom: 10px;
}

.userFriends {
	font-weight: 400;
	letter-spacing: 1.3px;
}

.friends {
	display: flex;
	align-items: flex-end;
}

.friends img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 5px;
	object-fit: cover;
}

.dots {
	font-size: 33px;
}

.mainContainer.d-flex {
	display: grid;
}

.nADiv {
	display: flex;
	margin-top: 500px;
}

.nAPost {
	flex: 4;
	margin-right: 10px;
	border-radius: 20px;
}

.nAShareDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	height: calc(100vh - 80px);
	overflow-y: scroll;
}

.nAShareDiv::-webkit-scrollbar {
	display: none;
}
